################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/config
/.vs/RecipeSearch/v15/Server/sqlite3
/Model/obj/Debug
/RecipeSearch/bin
/Model/bin/Debug
/.vs/RecipeSearch
/TestConsole/bin/Debug
/TestConsole/obj/Debug
/TestConsole
/.vs
/Model/obj/Release
/RecipeSearch/obj/Debug
/ConsoleTest2/obj/Debug
/ConsoleTest2/bin/Debug
/AddRecipesConsole
RecipeSearch/obj/Debug/RecipeSearch.pdb
RecipeSearch/obj/Debug/RecipeSearch.dll
RecipeSearch/obj/Debug/RecipeSearch.csprojAssemblyReference.cache
RecipeSearch/obj/Debug/RecipeSearch.csproj.CoreCompileInputs.cache
RecipeSearch/obj/Debug/DesignTimeResolveAssemblyReferences.cache
ConsoleTest2/obj/Debug/ConsoleTest2.pdb
ConsoleTest2/obj/Debug/ConsoleTest2.exe
ConsoleTest2/obj/Debug/ConsoleTest2.csprojAssemblyReference.cache
ConsoleTest2/bin/Debug/Model.pdb
ConsoleTest2/bin/Debug/Model.dll
ConsoleTest2/bin/Debug/HtmlAgilityPack.xml
ConsoleTest2/bin/Debug/HtmlAgilityPack.pdb
ConsoleTest2/bin/Debug/HtmlAgilityPack.dll
ConsoleTest2/bin/Debug/ConsoleTest2.pdb
ConsoleTest2/bin/Debug/ConsoleTest2.exe
