################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/config
/.vs/RecipeSearch/v15/Server/sqlite3
/Model/obj/Debug
/RecipeSearch/bin
/Model/bin/Debug
/.vs/RecipeSearch
/TestConsole/bin/Debug
/TestConsole/obj/Debug
/TestConsole
/.vs
/Model/obj/Release
